<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.simple.mapper.CountryMapper">
<select id="selectAll" resultType="Country">
select id, countryname,countrycode from country
</select>
<select id="selectById" resultType="Country">
select id,countryname,countrycode from country where id!='5'
</select>


</mapper>
