<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
    <configuration>
        <settings>
            <!-- 指定使用LOG4J输出日志 -->
            <setting name="logImpl" value="LOG4J"/>
        </settings>

        <!-- 包的别名，通常确定一个类的时候需要使用类的全限定名称
              例如：tk.mybatis.simple.model.Country。
             在这里配置了tk.mybatis.simple.model包，直接使用Country即可
         -->
        <typeAliases>
            <package name="com.mybatis.simple.model"/>
        </typeAliases>

        <!-- 配置数据库连接 -->
        <environments default="development">
            <environment id="development">
                <transactionManager type="JDBC">
                    <property name="" value=""/>
                </transactionManager>

                <dataSource type="UNPOOLED">
                    <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                    <property name="url"
                              value="jdbc:mysql://localhost:3306/mybatistest?serverTimezone=GMT%2B8"/>
                    <property name="username" value="root"/>
                    <property name="password" value="root"/>
                </dataSource>
            </environment>
        </environments>

        <!--SQL语句和映射配置文件 -->
        <mappers>
            <mapper resource="com/mybatis/simple/mapper/CountryMapper.xml"/>
            <mapper resource="test/xml/SysUserMapper.xml"/>
        </mappers>
    </configuration>
